<h2> Welcome! </h2>

<p>We show totally accurate lists of continents and countries!!</p>

<form>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message"><br>
  <button type="submit">Add Message</button>
</form>